/* apple navigation bar design */
nav{
  height: 44px;
  background: #000;
}

.navigation-items{
  position: relative;
  margin: 0 auto;
  width: 930px;
  overflow: initial;
  display: flex;
  justify-content: end;
}

.navigation-items a{
  color: #fff;
  line-height: 44px;
  text-decoration: none;
}


.navigation-items a.menu-item{
  transform: scale(1);
  transition: 0.5s;
  display: block;
}

.navigation-items a.menu-item.hide-item{
  transform: scale(0);
}


.navigation-items a.menu-item.hide-item{
  transform: scale(0);
}

.navigation-items:nth-child(2) a.menu-item.hide-item{
  transition-delay: 0.6s;
}

.navigation-items:nth-child(3) a.menu-item.hide-item{
  transition-delay: 0.5s;
}

.navigation-items:nth-child(4) a.menu-item.hide-item{
  transition-delay: 0.4s;
}

.navigation-items:nth-child(5) a.menu-item.hide-item{
  transition-delay: 0.3s;
}

.navigation-items:nth-child(6) a.menu-item.hide-item{
  transition-delay: 0.2s;
}

.navigation-items:nth-child(7) a.menu-item.hide-item{
  transition-delay: 0.1s;
}

.navigation-items:nth-child(8) a.menu-item.hide-item{
  transition-delay: 0s;
}

/* press cmd + D or ctrl + D(windows) to select multiple lines having same names for eg. */

.navigation-items:nth-child(2) a.menu-item{
  transition-delay: 0s;
}

.navigation-items:nth-child(3) a.menu-item{
  transition-delay: 0.1s;
}

.navigation-items:nth-child(4) a.menu-item{
  transition-delay: 0.2s;
}

.navigation-items:nth-child(5) a.menu-item{
  transition-delay: 0.3s;
}

.navigation-items:nth-child(6) a.menu-item{
  transition-delay: 0.4s;
}

.navigation-items:nth-child(7) a.menu-item{
  transition-delay: 0.5s;
}

.navigation-items:nth-child(8) a.menu-item{
  transition-delay: 0.6s;
}

.search-here {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding: 0rem 2rem !important;
  transition: all 0.2s 0.7s !important;
  overflow: hidden !important;
  grid-column: 1 / 2 !important;
  grid-row: 1 / 2 !important;
}

.search-form {
  position: absolute;
  top: 0;
  left: 55%;
  transform: translateX(0);
  height: px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  width: 54vh;
}

.search-form.active{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  transform: translateX(-50%);
}

.search-form input{
  width: 100%;
  height: 7vh;
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  font-size: 16px;
}

.search-form input::placeholder{
  color: rgb(0, 0, 0);
}

.search-form:before{
  content: '\f002';
  position: absolute;
  top: 12px;
  left: -26px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: fontAwesome;
}

.close{
  position: absolute;
  right: 40px;
  top: 0px;
  height: 44px;
  color: rgb(0, 0, 0);
  line-height: 44px;
  font-size: 18px; 
  text-align: right;
  width: 13px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden; 
}

.close.active{
  opacity: 1;
  visibility: visible;
  /* transition-delay: 0.5s;
  transform: translateX(-50%); */
}


i.fa.fa-times {
  padding-right: 5px;
  font-size: 18px;
}

i.fa.fa-shopping-bag {
  font-size: 20px;
}

i.fas.fa-user-alt {
  font-size: 20px;
  position: relative;
  visibility: visible;
  opacity: 1;
  object-fit: cover;
  transition: 0.5s;
}

.menu{
  position: absolute;
    top: 54px;
    right: -30px;
    padding: 5px 0px;
    background: white;
    width: 167px;
    box-shadow: 1px 2px 9px 0px #80808069;
    box-sizing: border-box;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu.active{
  visibility: visible;
  opacity: 5;
  z-index: 3;
  top: 54px;
}

.menu::before{
  content: '';
  position: absolute;
  top: -5px;
  box-shadow: -2px -2px 0px 0px #8080801c;
  right: 28px;
  z-index: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.menu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}

i.fas.fa-user-alt.active{
  visibility: visible;
  opacity: 1;
  top:88px;
}

.login-trigger {
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  position: relative;
}

header{
  z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background: white;
    box-shadow: 0px -10px 20px 0px;
}

header .brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(29, 63, 255);
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .brand img {
  width: 100%;
  height: 44px;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover{
  color: #00428e;
  
}

header .navigation .navigation-items .active{
  color: #0378ff;
}


header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: rgb(0, 0, 0);
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.1em;
    margin: 4px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png);
    background-size: 40px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn.active {
      z-index: 999;
      background: url(close.png) no-repeat;
      background-size: 38px;
      background-position: center;
      transition: 0.3s ease;
      background-color: #fffffc;
      border-radius: 5px;
  }
  .filter-btn{
    background: url(menu.png);
    background-size: 40px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .filter-btn.active {
      z-index: 999;
      background: url(close.png) no-repeat;
      background-size: 38px;
      background-position: center;
      transition: 0.3s ease;
      background-color: #fffffc;
      border-radius: 5px;
  }
  header .navigation .close .active{
    color: #0378ff;
  }
}

@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
    letter-spacing: unset;
  }


  .home .content h1 span{
    font-size: 1.1em;
  }
}